body {
   width: 95;
  height: 100vh;
  font-family: sans-serif;
  margin: center;
  background-size: 100vw 100vh;
  background-size: 95% 100vh;
  background-color: rgb(0, 89, 255,0.1);
 
}
.main {
justify-content: center;
}

.allado{
  display: flex;
}

@media (max-width: 680px){
    body{
      flex-direction: column;
    }
}

.margenes{
  width: 20cm;
  margin-left: 2cm;
}

.contacto{
  width: 100%;
}

.Links{
  padding-bottom: 20px;
  margin: auto;
}
.navbar {
  border-radius: 6px;
  max-width: 401.9px;
  margin: auto;  
}

.navbar a {
  color: rgb(52, 0, 65);
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;

}

.navbar a:hover {
 background-color: rgb(46, 16, 177);
  color: #ffcc41;
  transition: ease-in 0.6s;
}
.Titulo{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 1.5cm;
  margin: auto;
}

a, a:visited{
  text-decoration: none;
 
}

.nopuntito{
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nopuntito span{
  color: rgb(204, 48, 21);
}

.navbarestudios {
  
  border-radius: 2px;
  max-width: 441px;
}

.navbarestudios a{
  color: rgb(52, 0, 65);
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbarestudios a:hover {
background-color: rgb(46, 16, 177);
  color: #ffcc41;
  transition: ease-in 0.6s;  
}

.navbarP {
  margin: auto;
  border-radius: 2px;
  max-width: 500px;
}

.navbarP a{
  color: rgb(52, 0, 65);
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbarP a:hover {
background-color: rgb(46, 16, 177);
  color: #ffcc41;
  transition: ease-in 0.6s;
 }

 .navbarW{
  margin: auto;
  border-radius: 2px;
  max-width: 500px;
 }

 .navbarW a{
  color: rgb(52, 0, 65);
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
 }

 .navbarW a:hover{
 background-color: rgb(46, 16, 177);
  color: #ffcc41;
  transition: ease-in 0.6s;
 }

 .navbarCo {
  margin: auto;
  border-radius: 2px;
  max-width: 500px;
 }
 
 .navbarCo a{
  color: rgb(52, 0, 65);
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
 }

 .navbarCo a:hover{
 background-color: rgb(46, 16, 177);
  color: #ffcc41;
  transition: ease-in 0.6s;
 }

 .mainfooter{
background-color: aquamarine;
margin: 0;  
display: flex;
flex-direction: row;
justify-content: flex-end;
height: 100px;
 }
 .mainfooter p{
  background-color: aquamarine;
  margin: 0;  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100px;
 }

 .textoalcentro{
  padding-left: 255px;
 }

.apellido1 span{
  color: rgb(34, 21, 204);
}

.apellido1{
  text-align: center  ;
}

.navbar1{
  display: flex;
  width: 100%;
}

h3{
  text-align: center;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

h4{
  text-align: center;
}

h5{
  text-align: center;
}

.navbar1 p {
  width: 50%;
  margin: 0 auto;
  text-align: justify;
}
.contactosallado{
  display: flex;
}

.referencia{
  margin: auto;
  margin-bottom: 0.5cm;
}
footer{

  height: 12.5vh;
  background-color:   #232363;
  display: flex;

}

.Footer_left , .Footer_right{
  width: 50%;
  height: 100%;

  display: flex;
}

.Footer_left{
  display: flex;
}

.Footer_right{
  justify-content: right;
  align-items: center;
  display: flex;
}

.Social_Media_Icon{

  width: 4vw;
  height: 7.8vh;

  margin: 2vh;

}

.Contact_Data{
  color: white;
  font-family: 'Arvo', serif;
  font-size: 2vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-right: 0.9vw;
}

.lindo{
  text-align: center;
  color: white;
  
}

.contactocentro{
text-align: center;
}